Source: eos-chrome-plugin-updater
Section: contrib/web
Priority: optional
Maintainer: Roddy Shuler <roddy@endlessm.com>
Build-Depends: debhelper (>= 9),
	dh-autoreconf,
	dh-systemd,
	pkg-config,
	systemd
Standards-Version: 3.8.0
Homepage: http://www.endlessm.com

Package: eos-chrome-plugin-updater
Architecture: any
Depends: ${misc:Depends},
	${shlibs:Depends},
	debconf | debconf-2.0,
	wget,
	libatk1.0-0,
	libcairo2,
	libfontconfig1,
	libfreetype6,
	libgcc1,
	libglib2.0-0,
	libgtk2.0-0 (>= 2.14),
	libnspr4,
	libnss3,
	libpango-1.0-0 | libpango1.0-0,
	libstdc++6,
	libx11-6,
	libxext6,
	libxt6,
	libcurl3-gnutls,
	binutils,
	ca-certificates,
	dpkg,
	network-manager,
	dctrl-tools,
	kpartx
Suggests: chromium-browser, ttf-mscorefonts-installer, ttf-dejavu, ttf-xfree86-nonfree, hal
Provides: eos-pepflashplugin-updater
Replaces: eos-pepflashplugin-updater
Conflicts: eos-pepflashplugin-updater
Description: Google Chrome plugin updater/installer
 Downloads and Installs or Upgrades the Pepper Flash and Widevine DRM plugins.
 .
 On amd64 (the only Intel architecture supported by the updater now that Google no
 longer ships 32-bit binary packages of Google Chrome), this package will download
 Chrome from Google, and unpack it to make the included Pepper Flash Player and
 Widevine Encrypted Media Extensions DRM available for use with Chromium.
 .
 On armhf, this package installs the hooks that allow using those plugins if
 present, but does not download or install anything automatically for now.
 Instead, it provides a eos-chrome-plugin-update-arm script that can be
 manually run to install the plugins from a ChromeOS image that will be
 downloaded upon explicit confirmation by the user (as it's usually big).
 .
 The end user license agreement is available at Google.
