#!/usr/bin/make -f

DEB_BUILD_ARCH     ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)

EXTRA_PARAMS=

# Disable integration with the Network Manager for non Intel builds,
# as the updater is only automatically triggered in those architectures.
ifeq (,$(filter $(DEB_BUILD_ARCH),i386 amd64))
	EXTRA_PARAMS += --disable-nm-integration
endif

%:
	dh $@ --with autoreconf,systemd

override_dh_auto_configure:
	dh_auto_configure $@ -- $(EXTRA_PARAMS)
